body {
  margin: 0;
}

main {
  width: 400vh;
}
.wrapper{
  width: 100%;
  height: 200px;
background-image: url("./imagebanner.jpeg");
background-size: cover;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  gap: 30px;
}
.nav{
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  border-radius: 5px;
}
.input{
  width: 500px;
border: none;
}
.logo{
  border:2px black solid;
  z-index: 5;
 
}
.play{
  z-index: 5;
}
.oscar{
  z-index: 5;
}
.span-text{
  color: white;
  align-self: center;
}

